<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.desgenetezreiter.cmax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMax">
        <activity android:name="fr.desgenetezreiter.cmax.client.client_reclamation"></activity>
        <activity android:name="fr.desgenetezreiter.cmax.client.client_historique" />
        <activity android:name="fr.desgenetezreiter.cmax.client.client_panier" />
        <activity android:name="fr.desgenetezreiter.cmax.client.client_primary" />
        <activity android:name="fr.desgenetezreiter.cmax.restaurant.restaurant_register" />
        <activity android:name="fr.desgenetezreiter.cmax.restaurant.restaurant_login" />
        <activity android:name="fr.desgenetezreiter.cmax.restaurant.restaurant_loginregister" />
        <activity android:name="fr.desgenetezreiter.cmax.delivery.delivery_login" />
        <activity android:name="fr.desgenetezreiter.cmax.client.client_login" />
        <activity android:name="fr.desgenetezreiter.cmax.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>